.dark-high-contrast {
  --md-sys-color-primary: rgb(241 255 233);
  --md-sys-color-surface-tint: rgb(163 211 152);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(167 215 156);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 250 244);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(222 203 115);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(253 249 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(195 199 255);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 248);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 176);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(224 228 218);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(247 253 240);
  --md-sys-color-outline: rgb(198 205 193);
  --md-sys-color-outline-variant: rgb(198 205 193);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(6 50 7);
  --md-sys-color-primary-fixed: rgb(194 244 182);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(167 215 156);
  --md-sys-color-on-primary-fixed-variant: rgb(0 28 1);
  --md-sys-color-secondary-fixed: rgb(251 231 140);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(222 203 115);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 22 0);
  --md-sys-color-tertiary-fixed: rgb(229 229 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(195 199 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(9 14 70);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(52 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 13);
  --md-sys-color-surface-container-low: rgb(23 29 26);
  --md-sys-color-surface-container: rgb(27 33 30);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 51);
}
