.dark-medium-contrast {
  --md-sys-color-primary: rgb(167 215 156);
  --md-sys-color-surface-tint: rgb(163 211 152);
  --md-sys-color-on-primary: rgb(0 28 1);
  --md-sys-color-primary-container: rgb(111 156 102);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(222 203 115);
  --md-sys-color-on-secondary: rgb(27 22 0);
  --md-sys-color-secondary-container: rgb(161 145 63);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(195 199 255);
  --md-sys-color-on-tertiary: rgb(9 14 70);
  --md-sys-color-tertiary-container: rgb(135 140 200);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 176);
  --md-sys-color-on-error: rgb(51 4 3);
  --md-sys-color-error-container: rgb(204 123 112);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(224 228 218);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(246 252 247);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(198 205 193);
  --md-sys-color-outline: rgb(158 165 154);
  --md-sys-color-outline-variant: rgb(126 133 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(37 43 40);
  --md-sys-color-inverse-primary: rgb(39 81 35);
  --md-sys-color-primary-fixed: rgb(190 240 178);
  --md-sys-color-on-primary-fixed: rgb(0 22 1);
  --md-sys-color-primary-fixed-dim: rgb(163 211 152);
  --md-sys-color-on-primary-fixed-variant: rgb(20 62 19);
  --md-sys-color-secondary-fixed: rgb(246 227 136);
  --md-sys-color-on-secondary-fixed: rgb(21 17 0);
  --md-sys-color-secondary-fixed-dim: rgb(217 199 111);
  --md-sys-color-on-secondary-fixed-variant: rgb(63 54 0);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(4 7 65);
  --md-sys-color-tertiary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(44 49 103);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(52 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 13);
  --md-sys-color-surface-container-low: rgb(23 29 26);
  --md-sys-color-surface-container: rgb(27 33 30);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 51);
}
