.dark {
  --md-sys-color-primary: rgb(163 211 152);
  --md-sys-color-surface-tint: rgb(163 211 152);
  --md-sys-color-on-primary: rgb(14 56 13);
  --md-sys-color-primary-container: rgb(38 80 34);
  --md-sys-color-on-primary-container: rgb(190 240 178);
  --md-sys-color-secondary: rgb(217 199 111);
  --md-sys-color-on-secondary: rgb(57 48 0);
  --md-sys-color-secondary-container: rgb(82 70 0);
  --md-sys-color-on-secondary-container: rgb(246 227 136);
  --md-sys-color-tertiary: rgb(190 194 255);
  --md-sys-color-on-tertiary: rgb(38 43 97);
  --md-sys-color-tertiary-container: rgb(61 66 121);
  --md-sys-color-on-tertiary-container: rgb(224 224 255);
  --md-sys-color-error: rgb(255 180 170);
  --md-sys-color-on-error: rgb(86 30 24);
  --md-sys-color-error-container: rgb(115 52 44);
  --md-sys-color-on-error-container: rgb(255 218 213);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(224 228 218);
  --md-sys-color-surface: rgb(15 21 18);
  --md-sys-color-on-surface: rgb(222 228 223);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(194 201 189);
  --md-sys-color-outline: rgb(140 147 136);
  --md-sys-color-outline-variant: rgb(66 73 64);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 223);
  --md-sys-color-inverse-on-surface: rgb(44 50 47);
  --md-sys-color-inverse-primary: rgb(61 104 56);
  --md-sys-color-primary-fixed: rgb(190 240 178);
  --md-sys-color-on-primary-fixed: rgb(0 34 2);
  --md-sys-color-primary-fixed-dim: rgb(163 211 152);
  --md-sys-color-on-primary-fixed-variant: rgb(38 80 34);
  --md-sys-color-secondary-fixed: rgb(246 227 136);
  --md-sys-color-on-secondary-fixed: rgb(33 27 0);
  --md-sys-color-secondary-fixed-dim: rgb(217 199 111);
  --md-sys-color-on-secondary-fixed-variant: rgb(82 70 0);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(16 20 75);
  --md-sys-color-tertiary-fixed-dim: rgb(190 194 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(61 66 121);
  --md-sys-color-surface-dim: rgb(15 21 18);
  --md-sys-color-surface-bright: rgb(52 59 55);
  --md-sys-color-surface-container-lowest: rgb(10 15 13);
  --md-sys-color-surface-container-low: rgb(23 29 26);
  --md-sys-color-surface-container: rgb(27 33 30);
  --md-sys-color-surface-container-high: rgb(37 43 40);
  --md-sys-color-surface-container-highest: rgb(48 54 51);
}
